<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display</title>
  </head>
  <body>
    <h1>Dream vehicles</h1>
    <%for(let i of allVehicles){%>

    <form action="/file/<%=i._id%>?_method=DELETE" method="post">
      <img src="<%=i.image.url%>" alt="<%=i.name%>" />
      <h4><%=i.name%></h4>
      <p><%=i.description%></p>
      <button>Delete</button>
    </form>
    <%}%>
  </body>
</html>
